.curriculumDisplay {
    width: 50vw;
    min-width: 500px;
    background-color: #ffffff;
    box-shadow: 2px 5px 8px lightgray;
    min-height: 800px;
    justify-self: center;
    margin-top: 1.5rem;
}

.personalInfo {
    background-color: #082f49;
    min-height: 120px;
    color: #fafafa;
    text-align: center;
    margin-bottom: 1rem;
}

.personalInfo .name {
    font-size: 38px;
    padding: 1rem;
    margin: 0;
}

.personalInfo .contacts {
    font-size: 18px;
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.personalInfo .contacts img {
    transform: translateY(6px);
    margin-right: 8px;
}

.personalInfo .contacts > p {
    margin: 0;
    min-width: 220px;
}

.educationInfo, .jobInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20%;
}

.sectionTitle {
    padding: 0.2rem;
    width: 90%;
    font-size: 24px;
    text-align: center;
    background-color: #e5e7eb;
    color: #072b3a;
    border-radius: 4px;
}

.educationExperience, .jobExperience {
    width: 90%;
    display: flex;
}

.dateAndAddress {
    min-width: 190px;
    max-width: 190px;
}

.dateAndAddress p.date {
    margin-bottom: 0;
}

.dateAndAddress p.address {
    margin-top: 0.2rem;
}

.nameAndDegree, .nameAndDesc {
    margin-left: 2.5rem;
}

.nameAndDegree .schoolName, .nameAndDesc .companyName {
    font-size: large;
    line-height: 1;
}

.nameAndDegree .degree, .nameAndDesc .posTitle {
    line-height: 1.2;
}

.nameAndDesc {
    width: 80%;
}

.nameAndDesc .jobDesc {
    line-height: 1.4;
    text-align:justify;
    width: 80%;
}