.infoForm {
  width: 75%;
  margin-left: 2rem;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #d4d4d4;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  appearance: none;
  border: 1px solid #f2f3f5;
  background-color: #f2f3f5;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 16px;
}

input:disabled, textarea:disabled {
  cursor: not-allowed;
}

textarea {
  border-radius: 8px;
  border: 1px solid #f2f3f5;
  background-color: #f2f3f5;
  resize: vertical;
}

button.displayForm {
  appearance: none;
  border: none;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  display: flex;
}

button.displayForm img {
  margin-right: 12px;
}

button.displayForm img.expand {
  margin-left: auto;
  margin-right: 1.5rem;
}

button.displayForm:hover {
  cursor: pointer;
  background-color: #f4f4f5;
}

.formButtons {
  align-self: flex-end;
}

.formButtons button {
  appearance: none;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
}

.formButtons button:hover {
  cursor: pointer;
}

.formButtons .cancelBtn {
  border-color: #991b1b;
  background-color: #dc2626;
  color: #fafafa;
  margin-right: 1rem;
}

.formButtons .applyBtn {
  border-color: #1e40af;
  background-color: #2563eb;
  color: #fafafa;
  margin-right: 2rem;
}

.formButtons .cancelBtn:hover {
  background-color: #bd1a1a;
}

.formButtons .applyBtn:hover {
  background-color: #1e51be;
}

.formButtons .editBtn {
  border-color: #065f46;
  background-color: #047857;
  color: #fafafa;
}

.formButtons .editBtn:hover {
  background-color: #0d5741;
}

button.addNew {
  appearance: none;
  border: none;
  background-color: #f3f4f6;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  width: 100%;
  text-align: left;
  font-size: large;
}

button.addNew img {
  transform: translateY(4px);
  margin-left: 0.5rem;
  margin-right: 1.2rem;
}

button.addNew:hover {
  cursor: pointer;
  background-color: #e6e3e3;
}

.dataPreview {
  display: flex;
}

button.preview {
  appearance: none;
  border: none;
  background-color: #f0efef;
  padding: 1rem;
  border: none;
  width: 90%;
  text-align: left;
  font-size: large;
}

button.preview:hover {
  cursor: pointer;
  background-color: #e0dddd;
}

button.delete {
  width: 10%;
  appearance: none;
  border: none;
}

button.delete:hover {
  cursor: pointer;
}

button.delete img {
  transform: translateY(4px);
}

.hidden {
  display: none;
}

@media (max-width: 790px) {
  .infoForm {
    width: 85%;
    margin: 2rem auto;
  }
}